body{
	background-color: #202020;
}

.interface{
	/* outline:green 2px solid; */
	display: flex;
	justify-content: center;
}

.board{
	border: darkblue 1px solid;  
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gridrow{
	display: flex;  
	flex-direction: row;
	justify-content: center;
}

.cell{
	color: white;
	text-align: center;
	font-size: 32px;
	display: block;
	height: 40px;
	width: 40px;
	border: darkblue 1px solid;
}

.selected{
	border: darkred 1px solid;
	outline: darkred 1px solid;
	z-index: 1;
}

.paramDiv{
	display: flex;
	flex-direction: column;
}

.inputDiv{
	display: inherit;
	flex-direction: row;
	color: white;
	width: 100px;
} 

.inputDiv label{
	flex:auto;
}

.inputDiv input{
	align-self: right;
	flex-grow: 0;
	min-width: none;
	max-width: 20px;
}

.filled{
	background-color: lightgray;
}